/*
	Kathy Barry Piano - Style Sheet
	Developed by Ashley Johns
	ashleypjohns@gmail.com
*/

/* Tag Styling */
body {
	font-family: 'PT Sans', sans-serif;
	margin: 0;
	background-color: #333333;
}
h1 {
	font-family: 'Oleo Script', cursive;
	font-size: 3em;
	margin: 0 5px 20px 5px;
}
li {
	margin: 5px 0;
}
a {
	text-decoration: none;
	color: 	#a35a29;
}
footer {
	height: 100px;
	background-color: #333333;
	position: relative;
	display: block;
	color: white;
	padding: 25px 7%;
}
address {
	border-left: 2px solid #a35a29;
	padding-left: 10px;
}

/* Navigation Bar Styling */
#nav {
	position: absolute;
	margin: 0;
	padding: 0;
	width: 20%;
	opacity: 0.75;
	font-size: 1.25rem;
	overflow: hidden;
	z-index: 0;
}
.pianoKey {
	display: block;
	background-color: white;
	height: 75px;
	line-height: 75px;
	margin: 3px 3px 3px 0;
	padding-right: 3%;
	text-align: right;
	border-radius: 1px 8px 8px 1px;
	text-decoration: none;
	color: #333333;
}
.pianoKey:hover {
	width: 95%;
}
.blackKey {
	position: absolute;
	display: block;
	margin-top: -12px;
	background-color: black;
	border-radius: 1px 4px 4px 1px;
	float: left;
	height: 25px;
	width: 60%;
	box-shadow: 1px 5px 5px #888888;
}

/* Page Panel Styling */
#titlePanel {
	background-image: url("assets/piano.jpg");
	background-attachment: fixed;
	height: 675px;
}
#firstPanel {
	background-image: url("assets/piano.jpg");
	background-attachment: fixed;
	color: white;
	padding: 5px 5% 50px 21%;
	overflow: auto;
}
#secondPanel {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	background-color: white;
	padding: 25px 4% 100px 4%;
	position: relative;
}
.panelItem {
	flex-wrap: wrap;
	width: 48%;
	min-width: 200px;
}
#payPanel {
	text-align: center;
	display: block;
	background-image: url("assets/bg.jpg");
	color: white;
	position: relative;
	padding: 10px 4% 50px 4%;
	box-shadow: 0px 0px 15px #555555;
}

/* Page Element Styling */
#pageTitle {
	padding-top: 175px;
	text-align: center;
	color: white;
}
#startButton {
	display: block;
	margin: auto;
	margin-top: 100px;
	padding: 10px;
	width: 125px;
	border-radius: 25px;
	background-color: #a35a29;
	color: white;
	opacity: 0.75;
}
#startButton:hover {
	opacity: 1;
}
#kathy {
	float:right;
	margin-left:1%;
	width: 25%;
	min-width:200px;
}
.underlay{
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	background-image: url("assets/underlay.png");
	padding: 25px;
	border-radius: 20px;
}
#quote {
	flex-basis: 100%;
	background-color: white;
	text-align: center;
	font-size: 1.5em;
	padding-bottom: 50px;
	border-bottom: 1px solid #a35a29;
}
#testimonials {
	padding: 25px 4% 100px 4%;
	background-color: white;
	text-indent: 12px;
}
#towns {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
}
#towns li {
	padding: 5px 20px;
}

/* Mobile */
.openButton {
    display: none;
    cursor: pointer;
    font-size: 2.5em;
    position: fixed;
    z-index: 1;
    transition: 0.5s;
    padding: 15px;
}
.closeButton {
    position: absolute;
    font-size: 2em;
    margin-left: 140px;
    margin-top: -70px;
}
#mobileNav {
    display: none;
    position: fixed;
    background-color: #292929;
    width: 0;
    height: 100%;
    font-size: 2em;
    z-index: 2;
    overflow-x: hidden;
    padding-top: 50px;
    transition: 0.5s;
    opacity: 0.95;
}
#mobileNav a {
    padding: 15px 20px;
}

@media (max-width: 640px) {
	#nav {
		display: none;
	}
	#mobileNav {
		display: block;
	}
	.openButton {
		display: block;
	}
	.panelItem {
		width: 100%;
	}
}

@media (min-width: 751px) and (max-width: 1280px) {
	#titlePanel {
		background-image: url("assets/pianoMid.jpg");
	}
}
@media (max-width: 750px) {
	#titlePanel {
		background-image: url("assets/pianoSmall.jpg");
	}
}