body {
	font-family: 'PT Sans', sans-serif;
	margin: 0;
	background-color: #333333;
}
h1 {
	font-family: 'Oleo Script', cursive;
	font-size: 75px;
	margin: 0 5px 20px 5px;
}
li {
	margin: 5px 0;
}
a {
	text-decoration: none;
	color: 	#a35a29;
}
.pianoKey {
	display: block;
	background-color: white;
	height: 75px;
	line-height: 75px;
	margin: 3px 3px 3px 0;
	padding-right: 3%;
	text-align: right;
	border-radius: 1px 8px 8px 1px;
	text-decoration: none;
	color: #333333;
}
.pianoKey:hover {
	width: 95%;
}
footer {
	height: 100px;
	background-color: #333333;
	position: relative;
	display: block;
	color: white;
	padding: 25px 7%;
}
address {
	border-left: 2px solid #a35a29;
	padding-left: 10px;
}
#nav {
	position: absolute;
	margin: 0;
	padding: 0;
	width: 20%;
	opacity: 0.75;
	font-size: 20px;
	overflow: hidden;
	z-index: 0;
}
#quote {
	flex-basis: 100%;
	background-color: white;
	text-align: center;
	font-size: 30px;
	padding-bottom: 50px;
	border-bottom: 1px solid #a35a29;
}
#titlePanel {
	background-image: url("assets/piano.jpg");
	background-attachment: fixed;
	height: 675px;
}
#firstPanel {
	background-image: url("assets/piano.jpg");
	background-attachment: fixed;
	color: white;
	padding: 5px 5% 50px 21%;
	overflow: auto;
}
#secondPanel {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	background-color: white;
	padding: 25px 4% 100px 4%;
	position: relative;
}
.panelItem {
	flex-basis: 40%;
}
#payPanel {
	text-align: center;
	display: block;
	background-image: url("assets/bg.png");
	color: white;
	position: relative;
	padding: 10px 4% 50px 4%;
}
#pageTitle {
	padding-top: 175px;
	text-align: center;
	color: white;
}
#testimonials {
	padding: 25px 4% 100px 4%;
	background-color: white;
	text-indent: 12px;
}
.blackKey {
	position: absolute;
	display: block;
	margin-top: -12px;
	background-color: black;
	border-radius: 1px 4px 4px 1px;
	float: left;
	height: 25px;
	width: 60%;
	box-shadow: 1px 5px 5px #888888;
}
#startButton {
	display: block;
	margin: auto;
	margin-top: 100px;
	padding: 10px;
	width: 125px;
	border-radius: 25px;
	background-color: #a35a29;
	color: white;
	opacity: 0.75;
}
#startButton:hover {
	opacity: 1;
}
.underlay{
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	background-image: url("assets/underlay.png");
	padding: 25px;
	border-radius: 20px;
}
